<div class="all-width-height" dndDropzone  [dndDisableIf]="!dropzoneEnabled" (dndDrop)="onDrop($event)" dndDragoverClass="custom-drag-over">
  <mat-card class="all-width-height">
    <mat-card-header>
      <mat-card-title>Dropzone</mat-card-title>
      <mat-card-subtitle>
        <mat-slide-toggle [checked]="dropzoneEnabled" (change)="dropzoneEnabled = $event.checked"> Enabled </mat-slide-toggle>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <section class="my-dropzone"  >
        <pre *ngIf="lastDropEvent">{{ lastDropEvent | json }}</pre>
      </section>
    </mat-card-content>
  </mat-card>
</div>
